        @media only screen and (min-width: 1441px) {
            .heading-block {
                min-height: calc( (100vw - 1441px)/(2560 - 1441) * (550 - 437) + 437px);
            }
            .heading-font-block1 {
                max-width: 36.98vw;
            }
            .heading-font-block2 {
                max-width: 500px;
                min-width: 500px;
                max-height: calc( (100vw - 1441px)/(2560 - 1441) * (450 - 337) + 337px);
                min-height: calc( (100vw - 1441px)/(2560 - 1441) * (450 - 337) + 337px);
            }
        }
        
        @media only screen and (max-width: 1440px) {
            .bred-nav__link a {
                font-size: calc( (100vw - 480px)/(1441 - 480) * (22 - 12) + 12px);
            }
            .row-close-menu {
                bottom: 110px;
            }
        }
        
        @media only screen and (max-width: 1280px) {
            .heading-block__text-block {
                margin-left: 5%;
            }
            .bred-nav__links {
                padding-left: 5%;
            }
            .heading-font-block2 {
                left: 250px;
            }
        }
        
        @media only screen and (max-width: 1180px) {
            .main-content {
                width: 98%;
            }
            .heading-block__text-block {
                margin-left: 7%;
            }
            .heading-block,
            .bred-nav {
                width: 100%;
            }
            .heading-block {
                height: 407px;
            }
            .heading-block__text {
                /* font-size: calc( (100vw - 480px)/(1180 - 480) * (64 - 22) + 22px); */
                font-size: 5.0rem;
                line-height: 58px;
                /* line-height: calc( (100vw - 480px)/(1180 - 480) * (92.67 - 26.06) + 26.06px); */
            }
            .bred-nav__links {
                padding-left: 7%;
            }
            .heading-font-block1 {
                max-height: 297px;
                min-height: 297px;
                max-width: 520px;
                min-width: 520px;
            }
            .heading-font-block2 {
                max-height: 337px;
                min-height: 337px;
                max-width: 500px;
                min-width: 500px;
                left: 230px;
            }
            .heading-font-block3 {
                right: calc( (100vw - 320px)/(1024 - 480) * (30 - 5) + 5px);
            }
            .main-content__title {
                margin-right: 30px;
            }
            .main-content__title-width1 {
                margin-left: calc( (100vw - 769px)/(1180 - 769) * (720 - 310) + 310px);
                width: calc( (100vw - 769px)/(1180 - 769) * (450 - 440) + 440px);
            }
            .main-content__title-width2 {
                margin-left: calc( (100vw - 769px)/(1180 - 769) * (1020 - 620) + 620px);
                width: calc( (100vw - 769px)/(1180 - 769) * (130 - 120) + 120px);
            }
        }
        
        @media only screen and (max-width: 1024px) {
            .side-menu__link-double1:hover:after {
                width: 174px;
                margin-top: -20px;
            }
            .side-menu__link2:hover:after {
                width: 20px;
            }
            .side-menu__link3:hover:after {
                width: 125px;
            }
            .side-menu__link4:hover:after {
                width: 30px;
            }
            .side-menu__link5:hover:after {
                width: 153px;
            }
            .side-menu__link6:hover:after {
                width: 142px;
            }
            .side-menu__link-double7:hover:after {
                width: 110px;
                margin-top: -20px;
            }
            .side-menu__link-double8:hover:after {
                width: 150px;
                margin-top: -20px;
            }
            .side-menu__link9:hover:after {
                width: 137px;
            }
            .side-menu__link10:hover:after {
                width: 68px;
            }
            .side-menu__link-double11:hover:after {
                width: 80px;
                margin-top: -20px;
            }
            .side-menu__link12:hover:after {
                width: 50px;
            }
            .side-menu__link-double13:hover:after {
                width: 15px;
                margin-top: -20px;
            }
            .side-menu__link-double14:hover:after {
                width: 75px;
                margin-top: -20px;
            }
            .side-menu__link15:hover:after {
                width: 175px;
            }
            .side-menu__link16:hover:after {
                width: 153px;
            }
            .side-menu__link17:hover:after {
                width: 157px;
            }
            .side-menu__link18:hover:after {
                width: 173px;
            }
            .side-menu__link19:hover:after {
                width: 162px;
            }
            .side-menu__link20:hover:after {
                width: 155px;
            }
            .side-menu__link21:hover:after {
                width: 155px;
            }
            .side-menu__link22:hover:after {
                width: 160px;
            }
            .side-menu__link23:hover:after {
                width: 172px;
            }
            .side-menu__link24:hover:after {
                width: 137px;
            }
            .side-menu__link25:hover:after {
                width: 157px;
            }
            .side-menu__link26:hover:after {
                width: 203px;
            }
            .side-menu__link27:hover:after {
                width: 188px;
            }
            .side-menu__link28:hover:after {
                width: 70px;
            }
            .side-menu__link29:hover:after {
                width: 155px;
            }
            .side-menu__link30:hover:after {
                width: 185px;
            }
            .side-menu__link31:hover:after {
                width: 215px;
            }
            .side-menu__link-double32:hover:after {
                width: 30px;
                margin-top: 15px;
            }
            .side-menu__link-double33:hover:after {
                width: 95px;
                margin-top: -20px;
            }
            .side-menu__link-double34:hover:after {
                width: 95px;
                margin-top: -20px;
            }
            .row-close-menu {
                bottom: 90px;
            }
        }
        
        @media only screen and (max-width: 900px) {
            .heading-font-block1 {
                margin-top: -5px;
            }
        }
        
        @media only screen and (min-width: 769px) {
            .side-menu-on {
                display: none;
            }
            .side-menu-on {
                display: none;
            }
        }
        
        @media only screen and (max-width: 768px) {
            .heading-block__text-block {
                margin-left: 10%;
            }
            .bred-nav__links {
                padding-left: 10%;
            }
            .heading-block {
                height: 190px;
            }
            .heading-block__text {
                font-size: 2.8rem;
                line-height: 36px;
            }
            .heading-font-block1 {
                /* max-width: 36.98vw;
                min-width: 42.31vw; */
                max-width: 267px;
                min-width: 267px;
                margin-top: 0px;
                max-height: 160px;
                min-height: 160px;
                /* max-height: calc( (100vw - 320px)/(768 - 480) * (150 - 120) + 120px);
                min-height: calc( (100vw - 320px)/(768 - 480) * (150 - 120) + 120px); */
            }
            .heading-font-block2 {
                max-height: 150px;
                min-height: 150px;
                max-width: 310px;
                min-width: 310px;
                /* max-width: 48.72vw;
                min-width: 48.72vw; */
                left: calc( (100vw - 480px)/(768 - 480) * (200 - 170) + 170px);
            }
            .heading-font-block3 {
                max-height: 86px;
                max-width: 86px;
                min-height: 86px;
                min-width: 86px;
                right: calc( (100vw - 320px)/(1024 - 480) * (30 - 5) + 5px);
            }
            .main-content {
                margin-bottom: 30px;
            }
            .side-menu-off {
                display: none;
            }
            .side-menu-on {
                display: block;
            }
            .side-menu {
                position: absolute;
                top: 190px;
            }
            /* .side-menu__block1 {
                height: 40px;
                width: 44px;
            } */
            .side-menu__block1 {
                height: 24px;
                width: calc( (100vw - 120px)/(768 - 120) * (768 - 120) + 120px);
                /* width: 99vw; */
            }
            .side-menu__block2 {
                height: 70vh;
                width: calc( (100vw - 120px)/(768 - 120) * (768 - 120) + 120px);
                /* width: 300px; */
                padding-top: 40px;
                padding-left: 30px;
                padding-right: 15px;
                /* padding-bottom: 76px; */
                overflow: auto;
            }
            .side-menu__circle {
                position: absolute;
                width: 17px;
                height: 17px;
                background-color: #E74B8F;
                border-radius: 34px;
                margin-left: 5px;
                margin-top: 3px;
            }
            .side-menu__arrow-mobile {
                font-family: 'Manrope', sans-serif;
                color: #FFFFFF;
                position: absolute;
                font-size: 2.5rem;
                margin-left: 6px;
                margin-top: -9px;
            }
            .side-menu__text-mobile {
                font-family: 'Inter';
                font-style: normal;
                color: #FFFFFF;
                font-size: 1.4rem;
                margin-left: 11%;
                text-transform: uppercase;
            }
            .side-menu__link {
                font-size: 1.8rem;
            }
            .side-menu__text-link {
                font-size: 1.8rem;
                line-height: 25px;
            }
            .side-menu__link:hover:after,
            .side-menu__link1:hover:after,
            .side-menu__link2:hover:after,
            .side-menu__link3:hover:after,
            .side-menu__link4:hover:after,
            .side-menu__link5:hover:after,
            .side-menu__link6:hover:after,
            .side-menu__link7:hover:after,
            .side-menu__link8:hover:after,
            .side-menu__link9:hover:after,
            .side-menu__link10:hover:after,
            .side-menu__link11:hover:after,
            .side-menu__link12:hover:after,
            .side-menu__link13:hover:after,
            .side-menu__link14:hover:after,
            .side-menu__link15:hover:after,
            .side-menu__link16:hover:after,
            .side-menu__link17:hover:after,
            .side-menu__link18:hover:after,
            .side-menu__link19:hover:after,
            .side-menu__link20:hover:after,
            .side-menu__link21:hover:after,
            .side-menu__link22:hover:after,
            .side-menu__link23:hover:after,
            .side-menu__link24:hover:after,
            .side-menu__link25:hover:after,
            .side-menu__link26:hover:after,
            .side-menu__link27:hover:after,
            .side-menu__link28:hover:after,
            .side-menu__link29:hover:after,
            .side-menu__link30:hover:after,
            .side-menu__link31:hover:after,
            .side-menu__link32:hover:after,
            .side-menu__link33:hover:after,
            .side-menu__link34:hover:after {
                display: none;
            }
            .row-close-menu {
                left: 40px;
            }
            .row-close__simbol {
                font-size: 4.0rem;
            }
            .button-close-menu {
                position: absolute;
                top: 30px;
                right: 30px;
            }
            .main-content__title {
                text-align: left;
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 16px;
                letter-spacing: 0.04em;
                margin-bottom: 10px;
                /* margin-left: 38px; */
                /* margin-right: calc( (100vw - 320px)/(480 - 320) * (38 - 5) + 5px); */
            }
            .main-content__title-width1 {
                text-align: right;
                margin-left: calc( (100vw - 480px)/(768 - 480) * (-473 - -217) + -217px);
                width: 100%;
            }
            .main-content__title-width2 {
                /* margin-left: calc( (100vw - 768px)/(768 - 480) * (1020 - 620) + 620px); */
                /* width: calc( (100vw - 768px)/(768 - 480) * (-130 - -120) + -120px); */
                text-align: right;
                margin-left: calc( (100vw - 481px)/(768 - 480) * (-637 - -382) + -382px);
                width: 100%;
            }
        }
        
        @media only screen and (max-width: 480px) {
            .wrapper {
                margin-top: 120px;
            }
            .heading-block__text {
                font-size: 1.8rem;
                line-height: 26px;
            }
            .bred-nav__link a {
                font-size: 1.2rem;
            }
            .heading-block {
                height: 118px;
            }
            .heading-font-block1 {
                /* max-height: calc( (100vw - 320px)/(480 - 320) * (120 - 100) + 100px);
                min-height: calc( (100vw - 320px)/(480 - 320) * (120 - 100) + 100px); */
                max-height: 118px;
                min-height: 118px;
            }
            .heading-font-block2 {
                /* max-height: 137px;
                max-width: 48.72vw;
                min-height: 137px;
                min-width: 48.72vw; */
                max-height: 74px;
                min-height: 74px;
                max-width: 210px;
                min-width: 201px;
                left: 105px;
            }
            .heading-font-block3 {
                max-height: 66px;
                max-width: 66px;
                min-height: 66px;
                min-width: 66px;
                right: calc( (100vw - 320px)/(480 - 320) * (30 - 5) + 5px);
            }
            .heading-block__text-block {
                margin-left: 10%;
                margin-bottom: 0;
                margin-top: 10px;
            }
            .bred-nav__links {
                padding-left: 10%;
            }
            .side-menu {
                position: absolute;
                top: 118px;
            }
            /* .side-menu__block2 {
                height: 85vh;
                width: 300px;
                padding-top: 40px;
                padding-left: 30px;
                padding-right: 15px;
                padding-bottom: 76px;
                overflow: auto;
            } */
            /* .side-menu__circle {
                position: absolute;
                width: 17px;
                height: 17px;
                background-color: #E74B8F;
                border-radius: 34px;
                margin-left: 5px;
                margin-top: 3px;
            }
            .side-menu__arrow-mobile {
                font-family: 'Manrope', sans-serif;
                color: #FFFFFF;
                position: absolute;
                font-size: 2.5rem;
                margin-left: 6px;
                margin-top: -9px;
            } */
            .side-menu__link {
                font-size: 1.8rem;
            }
            .side-menu__text-mobile {
                margin-left: 10.5%;
            }
            .main-content__title-width1 {
                margin-left: calc( (100vw - 320px)/(480 - 320) * (-220 - -77) + -77px);
            }
            .main-content__title-width2 {
                margin-left: calc( (100vw - 320px)/(480 - 320) * (-380 - -240) + -240px);
            }
        }
        
        @media only screen and (max-width: 425px) {
            .bred-nav__links {
                padding-left: 10%;
            }
            .heading-block__text-block {
                margin-left: 10%;
            }
        }
        
        @media only screen and (max-width: 375px) {
            /*Временно, потом удалить для адаптива*/
            /* .main-content__title-width1 {
                margin-left: -110px;
            } */
            /* .main-content__title-width2 {
                margin-left: -275px;
            } */
        }
        
        @media only screen and (max-width: 320px) {
            .bred-nav__links {
                padding-left: 13%;
            }
            .heading-block__text-block {
                margin-left: 13%;
            }
            .heading-font-block2 {
                max-width: 190px;
                min-width: 190px;
            }
        }