        @media only screen and (min-width: 1441px) {
            .heading-block {
                min-height: calc( (100vw - 1441px)/(2560 - 1441) * (550 - 437) + 437px);
            }
            .heading-font-block1 {
                max-width: 36.98vw;
            }
            .heading-font-block2 {
                max-width: 500px;
                min-width: 500px;
                max-height: calc( (100vw - 1441px)/(2560 - 1441) * (450 - 337) + 337px);
                min-height: calc( (100vw - 1441px)/(2560 - 1441) * (450 - 337) + 337px);
            }
        }
        
        @media only screen and (max-width: 1440px) {
            .bred-nav__link a {
                font-size: calc( (100vw - 480px)/(1441 - 480) * (22 - 12) + 12px);
            }
        }
        
        @media only screen and (max-width: 1280px) {
            .heading-block__text-block {
                margin-left: 5%;
            }
            .bred-nav__links {
                padding-left: 5%;
            }
        }
        
        @media only screen and (max-width: 1180px) {
            .main-content {
                width: 98%;
            }
            .heading-block__text-block {
                margin-left: 7%;
            }
            .heading-block,
            .bred-nav {
                width: 100%;
            }
            .heading-block__text {
                font-size: calc( (100vw - 480px)/(1180 - 480) * (64 - 22) + 22px);
                line-height: calc( (100vw - 480px)/(1180 - 480) * (92.67 - 26.06) + 26.06px);
            }
            .bred-nav__links {
                padding-left: 7%;
            }
            .heading-font-block3 {
                right: calc( (100vw - 320px)/(1024 - 480) * (30 - 5) + 5px);
            }
            .main-content__title {
                margin-right: 30px;
            }
            .main-content__title-width1 {
                margin-left: calc( (100vw - 769px)/(1180 - 769) * (700 - 300) + 300px);
                width: calc( (100vw - 769px)/(1180 - 769) * (450 - 440) + 440px);
            }
            .main-content__title-width2 {
                margin-left: calc( (100vw - 769px)/(1180 - 769) * (1020 - 620) + 620px);
                width: calc( (100vw - 769px)/(1180 - 769) * (130 - 120) + 120px);
            }
        }
        
        @media only screen and (max-width: 900px) {
            .heading-font-block1 {
                margin-top: -5px;
            }
        }
        
        @media only screen and (min-width: 769px) {
            .side-menu-on {
                display: none;
            }
        }
        
        @media only screen and (max-width: 768px) {
            .heading-block__text-block {
                margin-left: 10%;
            }
            .bred-nav__links {
                padding-left: 10%;
            }
            .heading-block {
                height: 237px;
            }
            .heading-font-block1 {
                /* max-width: 36.98vw;
                min-width: 42.31vw; */
                max-width: 267px;
                min-width: 267px;
                margin-top: 0px;
                max-height: calc( (100vw - 320px)/(768 - 480) * (150 - 120) + 120px);
                min-height: calc( (100vw - 320px)/(768 - 480) * (150 - 120) + 120px);
            }
            .heading-font-block2 {
                max-height: 170px;
                max-width: 48.72vw;
                min-height: 170px;
                min-width: 48.72vw;
                left: 150px;
            }
            .heading-font-block3 {
                max-height: 86px;
                max-width: 86px;
                min-height: 86px;
                min-width: 86px;
                right: calc( (100vw - 320px)/(1024 - 480) * (30 - 5) + 5px);
            }
            .side-menu-off {
                display: none;
            }
            .side-menu {
                position: fixed;
                top: 80px;
            }
            .side-menu__block1 {
                height: 40px;
                width: 44px;
            }
            .side-menu__block2 {
                height: 85vh;
                width: 300px;
                background-color: #000000;
                padding-top: 40px;
                padding-left: 30px;
                padding-right: 15px;
                /* padding-bottom: 76px; */
                overflow: auto;
            }
            .side-menu__circle {
                position: absolute;
                width: 34px;
                height: 34px;
                background-color: #E74B8F;
                border-radius: 34px;
                margin-left: 5px;
                margin-top: 3px;
            }
            .side-menu__arrow-mobile {
                font-family: 'Manrope', sans-serif;
                color: #FFFFFF;
                position: absolute;
                font-size: 4.0rem;
                margin-left: 10px;
                margin-top: -12px;
            }
            .side-menu__link {
                font-size: 1.8rem;
            }
            .side-menu__text-link {
                font-size: 1.8rem;
                line-height: 25px;
            }
            .side-menu__link:hover:after,
            .side-menu__link1:hover:after,
            .side-menu__link2:hover:after,
            .side-menu__link3:hover:after,
            .side-menu__link4:hover:after,
            .side-menu__link5:hover:after,
            .side-menu__link6:hover:after,
            .side-menu__link7:hover:after,
            .side-menu__link8:hover:after,
            .side-menu__link9:hover:after,
            .side-menu__link10:hover:after,
            .side-menu__link11:hover:after,
            .side-menu__link12:hover:after,
            .side-menu__link13:hover:after,
            .side-menu__link14:hover:after,
            .side-menu__link15:hover:after,
            .side-menu__link16:hover:after,
            .side-menu__link17:hover:after,
            .side-menu__link18:hover:after,
            .side-menu__link19:hover:after,
            .side-menu__link20:hover:after,
            .side-menu__link21:hover:after,
            .side-menu__link22:hover:after,
            .side-menu__link23:hover:after,
            .side-menu__link24:hover:after,
            .side-menu__link25:hover:after,
            .side-menu__link26:hover:after,
            .side-menu__link27:hover:after,
            .side-menu__link28:hover:after,
            .side-menu__link29:hover:after,
            .side-menu__link30:hover:after,
            .side-menu__link31:hover:after,
            .side-menu__link32:hover:after,
            .side-menu__link33:hover:after,
            .side-menu__link34:hover:after {
                display: none;
            }
            .row-close-menu {
                bottom: 90px;
                left: 40px;
            }
            .row-close__simbol {
                font-size: 4.0rem;
            }
            .main-content__title {
                text-align: left;
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 400;
                font-size: 1.2rem;
                line-height: 16px;
                letter-spacing: 0.04em;
                margin-bottom: 10px;
                /* margin-left: 38px; */
                /* margin-right: calc( (100vw - 320px)/(480 - 320) * (38 - 5) + 5px); */
            }
            .main-content__title-width1 {
                /* margin-left: calc( (100vw - 480px)/(768 - 480) * (290 - 150) + 150px);
                width: calc( (100vw - 480px)/(768 - 480) * (440 - 240) + 240px); */
                text-align: right;
                margin-left: calc( (100vw - 481px)/(768 - 481) * (-260 - -85) + -85px);
                /* margin-left: calc( (100vw - 480px)/(780 - 480) * (-280 - -185) + -185px); */
                width: 100%;
                /* margin-right: calc( (100vw - 480px)/(768 - 480) * (290 - 50) + 50px); */
            }
            .main-content__title-width2 {
                /* margin-left: calc( (100vw - 768px)/(768 - 480) * (1020 - 620) + 620px); */
                /* width: calc( (100vw - 768px)/(768 - 480) * (-130 - -120) + -120px); */
                text-align: right;
                margin-left: calc( (100vw - 481px)/(768 - 481) * (-590 - -325) + -325px);
                width: 100%;
            }
        }
        
        @media only screen and (max-width: 480px) {
            .wrapper {
                margin-top: 120px;
            }
            .heading-block__text {
                font-size: 1.8rem;
                line-height: 26px;
            }
            .bred-nav__link a {
                font-size: 1.2rem;
            }
            .heading-block {
                height: 118px;
            }
            .heading-font-block1 {
                /* max-height: calc( (100vw - 320px)/(480 - 320) * (120 - 100) + 100px);
                min-height: calc( (100vw - 320px)/(480 - 320) * (120 - 100) + 100px); */
                max-height: 118px;
                min-height: 118px;
            }
            .heading-font-block2 {
                /* max-height: 137px;
                max-width: 48.72vw;
                min-height: 137px;
                min-width: 48.72vw; */
                max-height: 74px;
                max-width: 210px;
                min-height: 74px;
                min-width: 201px;
                left: 105px;
            }
            .heading-font-block3 {
                max-height: 66px;
                max-width: 66px;
                min-height: 66px;
                min-width: 66px;
                right: calc( (100vw - 320px)/(480 - 320) * (30 - 5) + 5px);
            }
            .heading-block__text-block {
                margin-left: 55px;
                margin-bottom: 0;
                margin-top: 10px;
            }
            .bred-nav__links {
                padding-left: 12%;
            }
            .side-menu {
                position: absolute;
                top: 118px;
            }
            .side-menu__block1 {
                height: 24px;
                width: 95vw;
            }
            .side-menu__block2 {
                height: 85vh;
                width: 300px;
                background-color: #000000;
                padding-top: 40px;
                padding-left: 30px;
                padding-right: 15px;
                /* padding-bottom: 76px; */
                overflow: auto;
            }
            .side-menu__circle {
                position: absolute;
                width: 17px;
                height: 17px;
                background-color: #E74B8F;
                border-radius: 34px;
                margin-left: 5px;
                margin-top: 3px;
            }
            .side-menu__arrow-mobile {
                font-family: 'Manrope', sans-serif;
                color: #FFFFFF;
                position: absolute;
                font-size: 2.5rem;
                margin-left: 6px;
                margin-top: -9px;
            }
            .side-menu__link {
                font-size: 1.8rem;
            }
        }
        
        @media only screen and (max-width: 425px) {
            .bred-nav__links {
                padding-left: 13%;
            }
        }
        
        @media only screen and (max-width: 375px) {
            /*Временно, потом удалить для адаптива*/
            .main-content__title-width1 {
                margin-left: -110px;
            }
            .main-content__title-width2 {
                margin-left: -275px;
            }
        }
        
        @media only screen and (max-width: 320px) {
            .bred-nav__links {
                padding-left: 17%;
            }
            .heading-font-block2 {
                max-height: 137px;
                max-width: 40.72vw;
                min-height: 137px;
                min-width: 40.72vw;
            }
        }